<main class="main-content">
        <div class="container">
          <div class="col-md-12" style="text-align: center; padding-top: 30px;">
            <h2>Ever been told a game is an absolute gem? </h2>
            <h3> Try it before you buy it </h3>
              <a onclick="scrollToGames();">
                <i class="glyphicon glyphicon-arrow-down" style="font-size: 2em;"></i>
              </a> 
          </div>
          <div class="page" style="margin-top: 150px;">
            <section>
              <header>
                <h2 class="section-title">Popular Games</h2>
                <%= link_to "Show All", games_path, class: "all" %>
              </header>
              <div class="product-list">
                <% @games.each do |g|%>
                  <%= link_to game_path(g) do %>
                    <div class="product">
                      <div class="inner-product">
                        <div class="figure-image">
                          <%= image_tag (g.image_url(:thumb).to_s), class: "img img-responsive" %>
                        </div>
                        <h3 class="product-title"><a href="#"><%= link_to g.name, game_path(g) %></a></h3>
                        <small class="price">€5.00</small>
                        <p><%= truncate(g.description, length: 125, omission: '. . .') %></p>
                        <%= link_to "View", game_path(g), class:"button" %>
                      </div>
                    </div> <!-- .product -->
                  <% end %>
                <% end %>
              </div> <!-- .product-list -->
            </section>

            <section>
              <header>
                <h2 class="section-title">Promotion</h2>
                <a href="#" class="all">Show All</a>
              </header>
              <div class="product-list">

                <div class="product">
                  <div class="inner-product">
                    <div class="figure-image">
                      <a href="single.html"><img src="" alt="Game 2"></a>
                    </div>
                    <h3 class="product-title"><a href="#">Mortal Kombat X</a></h3>
                    <small class="price">$19.00</small>
                    <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                    <a href="cart.html" class="button">Add to cart</a>
                    <a href="#" class="button muted">Read Details</a>
                  </div>
                </div> <!-- .product -->
      
                <div class="product">
                  <div class="inner-product">
                    <div class="figure-image">
                      <a href="single.html"><img src="" alt="Game 3"></a>
                    </div>
                    <h3 class="product-title"><a href="#">Metal Gear Solid V</a></h3>
                    <small class="price">$19.00</small>
                    <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                    <a href="cart.html" class="button">Add to cart</a>
                    <a href="#" class="button muted">Read Details</a>
                  </div>
                </div> <!-- .product -->
                
                <div class="product">
                  <div class="inner-product">
                    <div class="figure-image">
                      <a href="single.html"><img src="" alt="Game 4"></a>
                    </div>
                    <h3 class="product-title"><a href="#">Nascar '14</a></h3>
                    <small class="price">$19.00</small>
                    <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                    <a href="cart.html" class="button">Add to cart</a>
                    <a href="#" class="button muted">Read Details</a>
                  </div>
                </div> <!-- .product -->
              </div> <!-- .product-list --> 
            </section>
          </div>
        </div> <!-- .container -->
      </main> <!-- .main-content -->

      <div class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="widget">
                <h3 class="widget-title">Information</h3>
                <ul class="no-bullet">
                  <li><a href="#">Site map</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div> <!-- .widget -->
            </div> <!-- column -->
            <div class="col-md-2">
              <div class="widget">
                <h3 class="widget-title">Consumer Service</h3>
                <ul class="no-bullet">
                  <li><a href="#">Secure</a></li>
                  <li><a href="#">Shipping &amp; Returns</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Orders &amp; Returns</a></li>
                  <li><a href="#">Group Sales</a></li>
                </ul>
              </div> <!-- .widget -->
            </div> <!-- column -->
            <div class="col-md-2">
              <div class="widget">
                <h3 class="widget-title">My Account</h3>
                <ul class="no-bullet">
                  <li><a href="#">Login/Register</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Cart</a></li>
                  <li><a href="#">Order Tracking</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </div> <!-- .widget -->
            </div> <!-- column -->
            <div class="col-md-6">
              <div class="widget">
                <h3 class="widget-title">Join our newsletter</h3>
                <form action="#" class="newsletter-form">
                  <input type="text" placeholder="Enter your email...">
                  <input type="submit" value="Subsribe">
                </form>
              </div> <!-- .widget -->
            </div> <!-- column -->
          </div><!-- .row -->

          <div class="colophon">
            <div class="copy">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
            <div class="social-links square">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div> <!-- .social-links -->
          </div> <!-- .colophon -->
        </div> <!-- .container -->
      </div> <!-- .site-footer -->
    </div>

    <div class="overlay"></div>

    <div class="auth-popup popup">
      <a href="#" class="close"><i class="fa fa-times"></i></a>
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-title">Login</h2>
          <form action="#">
            <input type="text" placeholder="Username...">
            <input type="password" placeholder="Password...">
            <input type="submit" value="Login">
          </form>
        </div> <!-- .column -->
        <div class="col-md-6">
          <h2 class="section-title">Create an account</h2>
          <form action="#">
            <input type="text" placeholder="Username...">
            <input type="text" placeholder="Email address...">
            <input type="submit" value="register">
          </form>
        </div> <!-- .column -->
      </div> <!-- .row -->
    </div> <!-- .auth-popup -->

    <%# javascript_include_tag "html5" %>
    <%= javascript_include_tag "app" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous" %>
    <%# javascript_include_tag "plugins" %>
    <%# javascript_include_tag "jquery-1.11.1" %>
  </body>

</html>
